@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff1") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.header__text__container p, .header__menu__container a {
  font-size: 18px;
  font-weight: 400;
  color: #FAFAFA;
}

.header__text__container p, .header__menu__container a {
  font-size: 18px;
  font-weight: 400;
  color: #FAFAFA;
}

.header__text__container h1 {
  font-size: 85px;
  font-weight: 400;
  color: #313131;
  font-weight: 700;
}

.header__container {
  position: relative;
  display: flex;
  height: 790px;
  width: 100%;
  background-color: #1E5AFA;
  overflow-x: hidden;
}
.header__container .header__bg__line__left {
  position: absolute;
  left: 200px;
  width: 1px; /* Ширина линии */
  height: 100%; /* Высота линии */
  background-color: #fff; /* Цвет линии */
  z-index: 1;
}
.header__container .header__bg__line__center {
  position: absolute;
  right: 415px;
  width: 1px; /* Ширина линии */
  height: 100%; /* Высота линии */
  background-color: #fff; /* Цвет линии */
  z-index: 1;
  opacity: 0.1;
}
.header__container .header__bg__line__right {
  position: absolute;
  right: 200px;
  width: 1px; /* Ширина линии */
  height: 100%; /* Высота линии */
  background-color: #fff; /* Цвет линии */
  z-index: 1;
}
.header__container .header__bg__circle__left,
.header__container .header__bg__circle__right,
.header__container .header__bg__circle__center {
  position: absolute;
  border: #fff solid 3px;
  border-radius: 50%;
  z-index: 2;
}
.header__container .header__bg__circle__left {
  left: 183px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1E5AFA;
  width: 29px;
  height: 29px;
}
.header__container .header__bg__circle__center {
  right: 405px;
  top: 510px;
  background-color: #32A071;
  width: 16px;
  height: 16px;
  z-index: 2;
}
.header__container .header__bg__circle__right {
  right: 186px;
  top: 113px;
  background-color: #ffffff;
  width: 23px;
  height: 23px;
}
.header__container .header__bg__circle__right__top {
  position: absolute;
  border: rgba(255, 255, 255, 0.2) solid 90px;
  border-radius: 50%;
  z-index: 2;
  right: -200px;
  top: -200px;
  width: 174px;
  height: 174px;
  z-index: 1;
}

.header__menu__container {
  position: fixed;
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 58px;
  background-color: rgba(30, 90, 250, 0.9);
  border-radius: 5px;
  z-index: 5;
}
.header__menu__container .header__menu {
  position: absolute;
  left: 0;
  margin-left: 20px;
}
.header__menu__container .header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Inter;
  font-size: 32px;
  color: #FAFAFA;
}
.header__menu__container .header__login {
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.header__menu__container button {
  width: 152px;
  height: 52px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.header__menu__container button:hover {
  background-color: #000F37;
  color: #fff;
}
.header__menu__container ul {
  display: flex;
  gap: 35px;
}
.header__menu__container li {
  list-style-type: none;
}
.header__menu__container a {
  text-decoration: none;
  margin-right: 35px;
  cursor: pointer;
}
.header__menu__container a:last-child {
  margin-right: 0;
}

.header__text__container {
  position: absolute;
  max-width: 800px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 148px;
  z-index: 3;
}
.header__text__container h1 {
  color: #FAFAFA;
}
.header__text__container p {
  z-index: 10;
}

.social__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 50px;
  left: 50px;
  gap: 40px;
}

.smartphones__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 500px;
  z-index: 4;
}

.applications {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 400px;
  z-index: 4;
}
.applications .click__area__left, .applications .click__area__right {
  position: absolute;
  width: 202px;
  height: 70px;
  top: 0;
  border-radius: 8px;
}
.applications .click__area__left {
  left: 436px;
}
.applications .click__area__right {
  right: 436px;
}

footer .footer__container {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  width: 100%;
}
footer .footer__content {
  display: flex;
  width: 1170px;
  margin: 0px auto;
  justify-content: space-between;
}
footer .footer__content p {
  font-size: 18px;
  color: #575757;
}
footer .footer__smarthome {
  max-width: 300px;
}
footer .footer__smarthome h4 {
  margin: 0;
  font-size: 32px;
}
footer .footer__form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
}
footer .mail {
  width: 190px;
  height: 45px;
  border: 1px solid #575757;
  border-radius: 5px;
}
footer .button__reg {
  width: 100px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
footer .footer__form button:hover {
  background-color: #000F37;
  color: #fff;
}
footer .footer__copyright {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #000F37;
  color: #fff;
}
footer a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2E2E2E;
  font-size: 24px;
  cursor: pointer;
}

h2 {
  font-size: 85px;
  font-weight: 700;
  color: #313131;
  line-height: 100%;
  letter-spacing: -3px;
}

h3 {
  font-size: 46px;
  font-weight: 600;
  color: #000F37;
  line-height: 100%;
}

.first__card__container p,
.second__card__container p,
.third__card__container p {
  font-size: 20px;
  font-weight: 400;
  color: #575757;
  line-height: 42px;
}

.faq .faq__answer._active, .testimonials .subtitle, .clients p {
  font-size: 18px;
  font-weight: 400;
  color: #575757;
  line-height: auto;
}

.testimonials .testimonials__content__card .test__text__info {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: #5F7285;
  line-height: 30px;
}

.testimonials .text__post {
  font-size: 12px;
  font-weight: 400;
  color: #9C9EA3;
  line-height: auto;
}

.faq .faq__question {
  font-size: 18px;
  font-weight: 500;
  color: #313131;
  line-height: 130%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  position: relative;
  font-family: Inter;
}

.body__bg {
  position: relative;
  width: 100%;
}
.body__bg .body__lines__bg {
  position: absolute;
  right: 0;
  top: -500px;
}
.body__bg .body__lines__bg2 {
  position: absolute;
  right: 0;
  top: -350px;
}
.body__bg .body__lines__bg3 {
  position: absolute;
  right: -100px;
  top: 3900px;
}
.body__bg .dody__circle__left__bg,
.body__bg .dody__circle__right__bg,
.body__bg .dody__circle__centre__bg {
  position: absolute;
  border: rgba(30, 90, 250, 0.2) solid 90px;
  border-radius: 50%;
  z-index: 2;
  width: 174px;
  height: 174px;
  z-index: 1;
}
.body__bg .dody__circle__left__bg {
  left: -200px;
  top: -300px;
}
.body__bg .dody__circle__right__bg {
  right: -200px;
  top: 2000px;
  z-index: 1;
}
.body__bg .dody__circle__centre__bg {
  left: -200px;
  top: 4500px;
  z-index: 1;
  border: #1e5afa solid 90px;
}

.about__us .about__title {
  text-align: center;
  margin-top: -100px;
}

.first__card__container,
.second__card__container,
.third__card__container {
  display: flex;
  width: 100%;
}
.first__card__container .first__card__img__container,
.first__card__container .second__card__img__container,
.first__card__container .third__card__img__container,
.second__card__container .first__card__img__container,
.second__card__container .second__card__img__container,
.second__card__container .third__card__img__container,
.third__card__container .first__card__img__container,
.third__card__container .second__card__img__container,
.third__card__container .third__card__img__container {
  flex: 1;
  max-width: 50%;
}
.first__card__container .first__card__img__container,
.first__card__container .second__card__img__container,
.first__card__container .third__card__img__container,
.second__card__container .first__card__img__container,
.second__card__container .second__card__img__container,
.second__card__container .third__card__img__container,
.third__card__container .first__card__img__container,
.third__card__container .second__card__img__container,
.third__card__container .third__card__img__container {
  position: relative;
}
.first__card__container .first__card__img,
.first__card__container .second__card__img,
.first__card__container .third__card__img,
.second__card__container .first__card__img,
.second__card__container .second__card__img,
.second__card__container .third__card__img,
.third__card__container .first__card__img,
.third__card__container .second__card__img,
.third__card__container .third__card__img {
  position: absolute;
  top: -200px;
  z-index: 2;
}
.first__card__container .first__card__bg,
.first__card__container .second__card__bg,
.first__card__container .third__card__bg,
.second__card__container .first__card__bg,
.second__card__container .second__card__bg,
.second__card__container .third__card__bg,
.third__card__container .first__card__bg,
.third__card__container .second__card__bg,
.third__card__container .third__card__bg {
  position: absolute;
  background-color: #1E5AFA;
  width: 546px;
  height: 352px;
  border-radius: 10px;
  z-index: 1;
  top: 260px;
  left: 130px;
}
.first__card__container .first__card__text,
.first__card__container .second__card__text,
.first__card__container .third__card__text,
.second__card__container .first__card__text,
.second__card__container .second__card__text,
.second__card__container .third__card__text,
.third__card__container .first__card__text,
.third__card__container .second__card__text,
.third__card__container .third__card__text {
  max-width: 471px;
  margin-top: 40px;
}
.first__card__container button,
.second__card__container button,
.third__card__container button {
  position: relative;
  margin-top: 20px;
  width: 185px;
  height: 58px;
  border: #000F37 solid 1px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 5;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.first__card__container button:hover,
.second__card__container button:hover,
.third__card__container button:hover {
  background-color: #000F37;
  color: #fff;
}

.first__card__text,
.third__card__text {
  margin-left: 100px;
}

.second__card__container {
  margin-top: 110px;
  flex-direction: row-reverse;
}


.third__card__container {
  margin-top: 110px;
}

.clients {
  margin-top: 300px;
}
.clients .clients__title__text {
  text-align: center;
  max-width: 756px;
  margin: 0 auto;
}
.clients .clients__logo__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.testimonials {
  max-width: 1170px;
  margin: 0 auto;
}
.testimonials .testimonials__title__text {
  text-align: center;
  max-width: 756px;
  margin: 0 auto;
}
.testimonials .testimonials__cards {
  display: grid;
  margin-top: 40px;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.testimonials .testimonials__card {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  height: 273px;
  background-color: #FAFAFA;
  border: #E7EBEE 1px solid;
  transition: box-shadow 0.3s, border 0.3s;
  z-index: 2;
}
.testimonials .testimonials__card:hover {
  border: #fff;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.testimonials .testimonials__content__card {
  max-width: 465px;
  margin: 55px 65px 0 50px;
}
.testimonials .testimonials__content__card p {
  margin: 0;
}
.testimonials .testimonials__fcs {
  display: flex;
  margin-top: 30px;
  align-items: end;
}
.testimonials .testimonials__post {
  margin-left: 10px;
}
.testimonials .testimonials__icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 74px;
  gap: 40px;
}

.faq {
  width: 100%;
}
.faq h2 {
  text-align: center;
}
.faq .faq__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.faq .faq__card {
  height: 100px;
  display: flex;
  position: relative;
  width: 676px;
  background-color: #fafafa;
  border: 1px #E7EBEE solid;
  border-radius: 10px;
  cursor: pointer;
  transition: height 0.3s ease, box-shadow 1s ease;
}
.faq .faq__card._active {
  height: 250px;
  display: flex;
  position: relative;
  width: 676px;
  background-color: #fff;
  border: 1px #fff solid;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  transition: height 0.3s ease, box-shadow 1s ease;
}
.faq .faq__img {
  font-size: 78px;
}
.faq .faq__img p {
  margin: 0;
  width: 100px;
  text-align: center;
}
.faq .faq__img .faq__plus._active {
  display: none;
}
.faq .faq__img .faq__minus {
  display: none;
  color: #FD5757;
  opacity: 0;
  transition: all 1s ease;
}
.faq .faq__img .faq__minus._active {
  display: block;
  opacity: 1;
}
.faq .faq__question {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 382px;
}
.faq .faq__answer {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.faq .faq__answer._active {
  display: block;
  margin-bottom: 10px;
  opacity: 1;
}

.download {
  display: flex;
  margin: 100px auto;
  width: 1170px;
}
.download .download__text__buttons__container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  position: relative;
}
.download .download__buttons {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  left: -80px;
}
.download h2, .download p {
  max-width: 556px;
  margin: 0;
}
.download p {
  margin-top: 50px;
}
.download .download__right__button {
  position: absolute;
  left: 250px;
}
.download .download__clickarea__left {
  position: absolute;
  top: 2px;
  left: 80px;
  width: 203px;
  height: 67px;
  border-radius: 10px;
  z-index: 3;
}
.download .download__clickarea__right {
  position: absolute;
  top: 2px;
  left: 330px;
  width: 203px;
  height: 67px;
  border-radius: 10px;
}
.download .download__img {
  position: relative;
  z-index: 2;
}

.subscribe {
  max-width: 1170px;
  margin: 0 auto;
}
.subscribe .subscribe__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #1E5AFA;
  position: relative;
  border-radius: 10px;
}
.subscribe h3 {
  margin: 0;
  color: #fff;
  max-width: 590px;
}
.subscribe p {
  color: #fff;
  max-width: 559px;
}
.subscribe button {
  width: 220px;
  height: 70px;
  border: #fafafa solid 1px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.subscribe button:hover {
  background-color: #000F37;
  color: #fff;
  border-color: #000F37;
}
.subscribe .subscribe__circle__bg {
  position: absolute;
  border: rgba(255, 255, 255, 0.2) solid 70px;
  border-radius: 50%;
  z-index: 2;
  width: 80px;
  height: 80px;
  z-index: 3;
  bottom: -120px;
  right: 30px;
}/*# sourceMappingURL=main.css.map */